body {
    color: #fff;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 27%, rgba(19, 76, 89, 1) 100%);
}

.App {
    text-align: center;
}

.taskBg {
    background: rgb(19, 76, 89);
    background: linear-gradient(90deg, rgba(19, 76, 89, 1) 0%, rgba(0, 0, 0, 1) 82%);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}
.form-control {
    color:#fff;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 27%, rgba(19, 76, 89, 1) 100%);
    /* background: rgb(19, 76, 89);
    background: linear-gradient(90deg, rgba(19, 76, 89, 1) 0%, rgba(0, 0, 0, 1) 82%); */
}

.taskBg div {
    display: flex;
    align-items: center;
}

.taskNumber {
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}
.addbtn {
    color: #fff;
    background: rgb(19, 76, 89);
    background: linear-gradient(90deg, rgba(19, 76, 89, 1) 0%, rgba(0, 0, 0, 1) 82%);
}
.btndanger {
    color: #fff;

    background: rgb(115, 19, 19);
    background: linear-gradient(90deg, rgba(115, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 82%);
}
.taskBg .taskText {
    flex: 1;
}

.taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
}

.taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
}

.taskBg .iconsWrap span {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: rgb(19, 76, 89);
    color: linear-gradient(90deg, rgba(19, 76, 89, 1) 0%, rgba(0, 0, 0, 1) 82%);
}

.taskBg .iconsWrap span:hover {
    color: #fff;
}

.mr-20 {
    margin-right: 20px;
}

.link-btn {
    background-color: transparent;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    
}
.link-btn:hover {
    color: #fff;
}
.border-radius{
    border-radius: 14px;
    border: 1px solid #fff;
}
.bottom-50 {
    bottom: 50 !important;
}